<html>
<head>
	<title>New Entry for Lost Item</title>
</head>
<body>
	<form action = "/lostentrysubmission" method = "POST">
		<h2>Item Information</h2><br>
		<br>
		Item name:<br>
		<input type = "text" name = "itemname"><br>
		<br>
		Item description:<br>
		<textarea name = "description" rows = "10" cols = "30"></textarea><br>
		<br><br>
		<h2>Location of Lost Item</h2><br>
		<br>
		State:<br>
		<select>
			<option name = "state">Select</option>
			<option name = "state">Alabama</option>
			<option name = "state">Alaska</option>
			<option name = "state">Arizona</option>
			<option name = "state">Arkansas</option>
			<option name = "state">California</option>
			<option name = "state">Colorado</option>
			<option name = "state">Connecticut</option>
			<option name = "state">Delaware</option>
			<option name = "state">Florida</option>
			<option name = "state">Georgia</option>
			<option name = "state">Hawaii</option>
			<option name = "state">Idaho</option>
			<option name = "state">Illinois</option>
			<option name = "state">Indiana</option>
			<option name = "state">Iowa</option>
			<option name = "state">Kansas</option>
			<option name = "state">Kentucky</option>
			<option name = "state">Louisiana</option>
			<option name = "state">Maine</option>
			<option name = "state">Maryland</option>
			<option name = "state">Massachusetts</option>
			<option name = "state">Michigan</option>
			<option name = "state">Minnesota</option>
			<option name = "state">Mississippi</option>
			<option name = "state">Missouri</option>
			<option name = "state">Montana</option>
			<option name = "state">Nebraska</option>
			<option name = "state">Nevada</option>
			<option name = "state">New Hampshire</option>
			<option name = "state">New Jersey</option>
			<option name = "state">New Mexico</option>
			<option name = "state">New York</option>
			<option name = "state">North Carolina</option>
			<option name = "state">North Dakota</option>
			<option name = "state">Ohio</option>
			<option name = "state">Oklahoma</option>
			<option name = "state">Oregon</option>
			<option name = "state">Pennsylvania</option>
			<option name = "state">Rhode Island</option>
			<option name = "state">South Carolina</option>
			<option name = "state">South Dakota</option>
			<option name = "state">Tennessee</option>
			<option name = "state">Texas</option>
			<option name = "state">Utah</option>
			<option name = "state">Vermont</option>
			<option name = "state">Virginia</option>
			<option name = "state">Washington</option>
			<option name = "state">West Virginia</option>
			<option name = "state">Wisconsin</option>
			<option name = "state">Wyoming</option>
		</select><br>
		<br>
		City:<br>
		<input type = "text" name = "city"><br>
		<br>
		Zip Code:<br>
		<input type = "text" name = "zip"><br>
		<br><br>
		E-mail (will not be visible to public):<br>
		<input type = "text" name = "email"><br>
		<br><br>
		<input type = "submit">
	</form>
</body>
</html>